.mainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
        "topBar topBar topBar"
         "navBar content content"
         "navBar content content";
}

.navBar {
  @apply bg-navbar;
  grid-area: navBar;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 40px 40px
}

.content {
  @apply bg-primary;
  grid-area: content;
  width: 100%;
  overflow-y: scroll;
  position: sticky;
  padding: 80px 80px
}

.topBar {
  @apply bg-primary;
  grid-area: topBar;
  position: sticky;
  min-height: 50px;
}
